/**
 * Primer
 *
 * A starting point for responsive, accessible web
 * design by selectively resetting some user agent
 * styles and applying best practice recommendations.
 *
 * Last updated 2023.08.19
 * {@version 1.0.0}
 * {@link https://github.com/clairelizbet/primer}
 */

/**
 * Apply user-configurable font scaling for improved accessibility.
 * On non-Apple systems, this is represented by the medium keyword.
 */
@supports not (font: -apple-system-body) {
  :root {
    font-size: medium;
  }
}

/**
 * On Apple systems, user-configurable font scaling is controlled
 * by the Dynamic Type setting and needs to be opted into.
 *
 * {@link https://webkit.org/blog/3709/using-the-system-font-in-web-content/}
 */
@supports (font: -apple-system-body) {
  :root {
    font: -apple-system-body;
  }
}

:root {
  /**
   * Apply a minimum font size of 16px for medium. This prevents automatic
   * zoom on text inputs that some user agents like iOS Safari apply.
   */
  --font-size-medium: max(16px, 1rem);

  /**
   * System fonts for popular operating systems and environments
   */
  --system-font-apple: -apple-system, BlinkMacSystemFont;
  --system-font-microsoft: "Segoe UI";
  --system-font-kde: "Oxygen-Sans";
  --system-font-gnome: "Cantarell";
  --system-font-canonical: "Ubuntu";
  --system-font-google: "Roboto";

  /**
   * Some browsers do not yet understand the "system-ui" keyword,
   * and must be provided with a named system font.
   */
  --system-ui-font-fallback: var(--system-font-apple),
    var(--system-font-microsoft), var(--system-font-kde),
    var(--system-font-gnome), var(--system-font-canonical),
    var(--system-font-google);

  --system-ui-font: system-ui, var(--system-ui-font-fallback), sans-serif;

  /**
   * Monospace system fonts
   */
  --monospace-font-apple: "SF Mono";
  --monospace-font-microsoft: "Cascadia Code";
  --monospace-font-kde: "Oxygen Mono";
  --monospace-font-gnome: "Source Code Pro";
  --monospace-font-canonical: "Ubuntu Monospace";
  --monospace-font-google: "Roboto Mono";

  --ui-monospace-font-fallback: var(--monospace-font-apple),
    var(--monospace-font-microsoft), var(--monospace-font-kde),
    var(--monospace-font-gnome), var(--monospace-font-canonical),
    var(--monospace-font-google);

  --ui-monospace-font: ui-monospace, var(--ui-monospace-font-fallback),
    monospace;

  /**
   * Accessibility guidelines recommend a line height ≥ 1.5 and
   * spacing between paragraphs of at least 1.5x the line height.
   *
   * {@link https://w3.org/TR/WCAG21/#visual-presentation}
   */
  --standard-line-height: 1.5em;
  --paragraph-space-after: calc(1.5 * var(--standard-line-height));

  /**
   * Define spacing after headings relative to root font size
   */
  --heading-space-after: 1rem;

  /**
   * Calculate the vertical safe area of the viewport
   */
  --inset-top: env(safe-area-inset-top, 0);
  --inset-bottom: env(safe-area-inset-bottom, 0);

  --vertical-inset-size: calc(var(--inset-bottom) + var(--inset-top));
  --vertical-safe-area: calc(100vh - var(--vertical-inset-size));
}

/**
 * Universal styles, including :before and :after
 * pseudo-elements which require explicit targeting
 * {@link https://w3.org/TR/selectors/#pseudo-elements}
 */
*,
:before,
:after {
  /**
   * Include padding and border in width and height calculations
   */
  box-sizing: border-box;
}

body {
  /**
   * Disable auto text inflation on mobile, signaling
   * to the browser that the styles which build on this
   * primer will follow responsive design best practices
   */
  -webkit-text-size-adjust: none;
  text-size-adjust: none;

  /**
   * Remove the body margin that many user agents apply
   */
  margin: 0;

  /**
   * Expand the body to fill the vertical safe area using dynamic viewport
   * units if supported, otherwise use the value calculated from insets
   * {@link https://w3.org/TR/css-values-4/#dynamic-viewport-size}
   */
  min-height: var(--vertical-safe-area);
  min-height: 100dvh;

  /**
   * Use platform-specific fonts
   */
  font-family: var(--system-ui-font);

  /**
   * Apply a default font size based on user preference
   */
  font-size: var(--font-size-medium);

  /**
   * Apply a small, fixed amount of spacing for underlines
   */
  text-underline-offset: 2px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /**
   * Set font weight to one level heavier, relative to the heading's parent
   */
  font-weight: bolder;

  /**
   * Remove the default margin and apply spacing at the end of each heading
   *
   * {@link https://developer.mozilla.org/docs/Web/CSS/margin-block-end}
   */
  margin: 0;
  margin-block-end: var(--heading-space-after);
}

p,
pre,
hr {
  /**
   * Remove default margins from paragraphs, text blocks, and horizontal rules
   */
  margin: 0;
}

hr {
  /**
   * Apply spacing below horizontal rules
   */
  margin-bottom: var(--paragraph-space-after);
}

p,
pre {
  /**
   * Apply spacing at the end of each paragraph and preformatted text block
   *
   * {@link https://developer.mozilla.org/docs/Web/CSS/margin-block-end}
   */
  margin-block-end: var(--paragraph-space-after);
}

p,
code pre {
  /**
   * Add spacing between paragraph lines for readability
   */
  line-height: var(--standard-line-height);
}

code,
pre,
kbd,
samp {
  /**
   * Use system mono font for code and preformatted text display
   */
  font-family: var(--ui-monospace-font);
}

pre {
  /**
   * Prevent breaking the layout on narrow viewports by scrolling as needed.
   */
  overflow-x: auto;
}

b,
strong {
  /**
   * Increase the font weight of text that attention should
   * be brought to (<b>), and of important text (<strong>)
   */
  font-weight: bolder;
}

abbr[title] {
  /**
   * Apply a thin underline to abbreviations that specify a title
   */
  text-decoration: 1px dotted underline;
}

img {
  /**
   * Prevent larger images from overflowing their parent containers
   */
  max-width: 100%;
  max-height: 100%;
}
